extends layout

block content

  div.row
    div.span7.well
      h2 Welcome
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p 
        a.btn.btn-primary.btn-large Learn More &raquo;
    div.span4
       h2 Register Today!
       p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed fringilla massa. Curabitur blandit egestas mauris, nec pulvinar velit auctor quis. Aenean et quam non libero varius elementum.
       p 
         a.btn.btn-primary.btn-large(href="/sign-up") Sign Up &raquo;

