!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title= globals.site.name
    
    link(href="/styles/bootstrap.css", rel="stylesheet")
    link(href="/styles/bootstrap-responsive.css", rel="stylesheet")
    script(src="/scripts/jquery.js")
    script(src="/scripts/bootstrap.js")
    script(src="/scripts/jquery.timeago.js")
    script(src="/socket.io/socket.io.js")
    
    script
      var socket = io.connect('#{socketio.url}', !{JSON.stringify(socketio.options)});
      socket.on("reconnect", function(){
        window.location = window.location;
      });
    style
      body {
        padding-top: 60px;
      } 
  body
    div(class="navbar navbar-fixed-top")
      .navbar-inner
        .container
          a.brand(href='/') #{globals.site.name}
          ul#main-menu-right(class="nav pull-right")
            li.dropdown(id="preview-menu")
              a(class="dropdown-toggle",data-toggle="dropdown",href="#") 
                i.icon-user.icon-white 
                | &nbsp; Test &nbsp;
                b.caret
              ul.dropdown-menu
                li
                  a(href="/login",id="login") Login
                li.divider
                li
                  a(href="/sign-up") Sign Up
                  
    div(class="container")
      block content